@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: grid;
    grid-template-rows: 5% auto;
    grid-template-columns: 95%;
    grid-template-areas: 
        "header"
        "wrapper";
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/media/AmorgosLogin1.jpg') no-repeat center center fixed;
    background-size: cover;
}

.wrapper {
    grid-area: wrapper;
    width: 420px;
    background: rgba(255, 255, 255, 0.1); /* Better transparency with background color */
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    border-radius: 10px;
    padding: 30px 40px;
    position: relative;
    left: 40%;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 45px 0 20px;
}

.input-box input::placeholder {
    color: white;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: white;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

header {
    grid-area: header;
    background-color: rgb(21, 118, 170);
    color: white;
    padding-left: 50px;
    padding-top: 30px;
}

header h2 {
    margin-top: 3rem;
}

nav {
    overflow: hidden;
    background-color: rgb(21, 118, 170);
}

menu {
    align-items: center;
}

.menu ul {
    position: relative;
    left: 45vh;
    display: inline-flex;
    background-color: rgb(21, 118, 170);
    overflow: hidden;
    margin-top: 10px;
}

.menu li {
    list-style: none;
    position: relative;
    transition: 0.10s; /* το delay στο hover */
    margin-bottom: 10px;
}

.menu li::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: center;
    background-color: rgb(255, 255, 255);
}

.menu li:hover {
    color: #ffffff;
}

.menu li:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.menu a {
    padding: 15px;
    display: block;
    text-decoration: none;
    color: white;
    font-size: large;
}

@media(max-width: 481px) {
    body {
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas: 
            "wrapper";
        justify-content: center;
        align-items: center;
    }

    .wrapper {
        width: 90%;
        left: 0;
        top: 0;
        margin: 0 auto;
    }
}

@media(max-width: 890px) {
    body {
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas: 
            "wrapper";
        justify-content: center;
        align-items: center;
    }

    .wrapper {
        width: 90%;
        left: 0;
        top: 0;
        margin: 0 auto;
    }
}
