@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

img,
figure,
picture {
    max-width: 100%;
    display: block;
    height: auto;
}

h1,
h2 {
    margin-top: 20px;
    margin-bottom: 20px;

}

p {
    margin-bottom: 10px;
    font-size: large;
}


body {
    display: grid;
    grid-template-rows: 19% 6% 65% 10%;
    grid-template-columns: 100%;
    grid-template-areas:
        "header"
        "filters"
        "content"
        "footer";
}

header {
    grid-area: header;
    background-color: rgb(21, 118, 170);
    color: white;
    width: 100%;
    padding-top: 30px;
}

header h1,
header h2 {
    text-align: center;
    padding: 1%;
}

header nav {
    overflow: hidden;
    background-color: rgb(21, 118, 170);
    align-items: center;
}

header ul {
    position: relative;
    left: 35vh;
    display: inline-flex;
    background-color: rgb(21, 118, 170);
    overflow: hidden;
    margin-top: 10px;
}

header a {
    color: white;
}

header li {
    list-style: none;
    position: relative;
    transition: 0.10s;
    /* το delay στο hover*/
    margin-bottom: 10px;
}

header li::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: center;
    background-color: rgb(255, 255, 255);
}


header li:hover {
    color: #ffffff;
}

header li:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

header a {
    padding: 15px;
    display: block;
    text-decoration: none;
    font-size: large;
}

#check {
    display: none;
}

.checkBtn {
    display: none;
    color: white;
    font-size: larger;
}

form {
    display: flex;
    align-items: center;
}

.filters {
    grid-area: filters;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: "search select btn";
    margin: 1rem;
    padding: 1rem;
    border-radius: 10rem;
    background-color: rgb(42, 101, 165);
    text-align: center;
}

.search-box {
    grid-area: search;
}

.search-box input {
    height: 70%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    margin-right: 60px;
}


.search-box input::placeholder {
    color: white;
}

.search-box i {
    color: #ffffff;
    position: relative;
    left: 230px;
    top: 10px;
    transform: translateY(-50%);
    font-size: 20px;
}

.select-box {
    grid-area: select;
}

.select-box input {
    height: 70%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    margin-right: 60px;
}


.select-box input::placeholder {
    color: white;
}

.select-box i {
    color: #ffffff;
    position: relative;
    left: 230px;
    top: 10px;
    transform: translateY(-50%);
    font-size: 20px;
}

.btn {
    grid-area: btn;
    width: 90px;
    height: 44px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}


section {
    grid-area: content;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 40% 60%;
    grid-template-areas:
        "first-con sec-con";
    background-color: rgb(209, 220, 237);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 20px 40px;
    padding: 20px;
}

section>h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

section>ol {
    margin-left: 20px;
}

section p {
    text-align: justify;
}

section img {
    background-color: rgb(28, 228, 81);
    border-radius: 1rem;
    margin-left: 1rem;
}

.first-con {
    grid-area: first-con;
}

.sec-con {
    grid-area: sec-con;
}

footer {
    grid-area: footer;
    background-color: rgb(21, 118, 170);
    color: white;
    padding-top: 30px;
    padding-bottom: 115px;

}

footer p {
    text-align: center;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

footer i {
    position: relative;
    left: 50%;
    margin-block: 10px;
}

#arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    scroll-behavior: smooth;
}


@media screen and (max-width: 481px) {

    body {
        display: grid;
        grid-template-rows: fit-content(350px) fit-content(650px) fit-content(350px);
        grid-template-columns: 100%;
        grid-auto-rows: fit-content(350px);
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    header {
        position: sticky;
        top: 0;
        padding-left: 0px;
        /* display: none; */
    }

    header h1 {
        margin-left: 55px;
    }

    header nav {
        padding: 0;
    }

    header nav ul li a {
        font-size: 30px;
        display: block;
        font-size: 20px;
    }

    header ul {
        display: inline-block;
        position: fixed;
        width: 100%;
        top: 100px;
        left: -100%;
        height: 100vh;
        background: rgb(7, 44, 77);
        text-align: center;
        transition: all .5s;
    }


    header li::after {
        position: absolute;
        content: "";
        width: 0;
        height: 3px;
        top: 100%;
        left: 0;
    }


    header a:hover,
    header a:active {
        color: rgb(55, 172, 235);
    }

    header li:hover::after {
        transform: scaleX(0);
        transform-origin: center;
    }


    .checkBtn {
        display: block;
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: xx-large;
        top: 50px;
        left: 20px;
        cursor: pointer;
    }

    #check:checked~ul {
        left: 0;
    }

    .filters {
        display: grid;
        grid-template-rows: 33% 33% 33%;
        grid-template-columns: 100%;
        grid-template-areas:
            "search"
            "select"
            "btn";
        border-radius: 1rem;
    }

    .search-box {
        grid-area: search;
        height: 90px;
        background: transparent;
        border: none;
        outline: none;
        /* border: 2px solid rgba(255, 255, 255, .2); */
        /* font-size: 16px; */
        color: #fff;
        margin-top: 50px;
        margin-right: 0px;
        display: flex;
    }

    .search-box i {
        color: #ffffff;
        position: relative;
        left: 210px;
        top: 30px;
        transform: translateY(-50%);
        font-size: 20px;
    }

    .select-box {
        grid-area: select;
        height: 50px;
        width: 200px;
        padding: 0;
        margin: 0;
    }

    .btn {
        grid-area: btn;
        height: 50px;
        padding: 0;
        margin: 0;
        /* position: relative;
        left: 80px; */
    }
}