@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

img, figure, picture {
    max-width: 100%;
    display: block;
    height: auto;
}

h1, h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
    font-size: large;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 60% 40%;
    grid-template-areas:
        "header header"
        "main sidebar-right"
        "footer footer";
    height: 100vh;
}

article, .container {
    margin: 2rem;
}

header {
    grid-area: header;
    background-color: rgb(21, 118, 170);
    color: white;
    width: 100%;
    padding-top: 30px;
}

header h1 {
    text-align: center;
    padding: 0%;
}

header nav {
    overflow: hidden;
    background-color: rgb(21, 118, 170);
    align-items: center;
}

header ul {
    position: relative;
    left: 13rem;
    display: inline-flex;
    background-color: rgb(21, 118, 170);
    overflow: hidden;
    margin-top: 10px;
}

header a {
    color: white;
}

header li {
    list-style: none;
    position: relative;
    transition: 0.10s;
    margin-bottom: 10px;
}

header li::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: center;
    background-color: rgb(255, 255, 255);
}

header li:hover {
    color: #ffffff;
}

header li:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

header a {
    padding: 15px;
    display: block;
    text-decoration: none;
    font-size: large;
}

#check {
    display: none;
}

.checkBtn {
    display: none;
    color: white;
    font-size: larger;
}

main {
    grid-area: main;
    text-align: left;
}

section {
    background-color: rgb(209, 220, 237);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

section > h2 {
    margin: 10px 0;
}

section > ol {
    margin-left: 20px;
}

section p {
    text-align: justify;
}

.pin-map i {
    font-size: 20px;
    margin-right: 10px;
}

.pin-map p {
    font-size: larger;
    margin: 0;
}

.sidebar-right {
    grid-area: sidebar-right;
    background-color: rgb(128, 189, 236);
    border-radius: 3rem;
    margin-top: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
}

.sidebar-right .pin-map {
    align-items: center;
    position: relative;
    left: 6rem; /* Adjusted value to move it to the left */
    top: -0.5rem;
}

.pin-map {
    display: inline-flex;
    background-color: rgb(12, 37, 58);
    color: #fff;
    width: auto;
    border-radius: 5rem;
    text-align: center;
    padding: 25px;
    margin-top: 1rem;
}

.box {
    background-color: rgb(128, 189, 236);
    overflow: hidden;
    margin: 2rem;
    text-align: center;
    color: rgb(8, 43, 56);
    font-size: large;
    border-radius: 2rem;
    height: 220px;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.box button {
    width: 50%;
    height: 50px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.box h2 {
    margin-top: 2rem;
}

footer {
    grid-area: footer;
    background-color: rgb(21, 118, 170);
    color: white;
    padding: 30px;
    text-align: center;
    padding-top: 20px;
}

footer p {
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

footer i {
    margin-top: 10px;
}

#arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    scroll-behavior: smooth;
}

@media (max-width: 1024px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "sidebar-right"
            "footer";
    }

    header {
        padding: 1rem 20px;
    }

    header nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        height: 100vh;
        width: 100%;
        background-color: rgb(21, 118, 170);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: left 0.5s ease;
    }

    #check:checked ~ ul {
        left: 0;
    }

    .checkBtn {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: xx-large;
        cursor: pointer;
    }

    

    .box {
        width: 100%;
    }

    .sidebar-right {
        padding: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    .pin-map {
        display: flex;
        flex-direction: column;
    }

    .sidebar-right .pin-map {
        align-items: center;
        position: relative;
        left: 0.1rem; /* Adjusted value to move it to the left */
        top: -0.75rem;
    }

    .box {
        background-color: rgb(128, 189, 236);
        overflow: hidden;
        margin: 2rem;
        text-align: center;
        color: rgb(8, 43, 56);
        font-size: large;
        border-radius: 2rem;
        height: 220px;
        width: 100%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    
}

@media (max-width: 912px) {
    header h1 {
        font-size: 1.5rem;
    }

    header nav ul {
        position: fixed;
        top: 60px;
        left: -100%;
        height: 100vh;
        width: 100%;
        background-color: rgb(21, 118, 170);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: left 0.5s ease;
    }

    #check:checked ~ ul {
        left: 0;
    }

    .checkBtn {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }

    .box {
        width: 100%;
        margin: 0 auto;
    }

    .sidebar-right {
        padding: 1rem;
    }

    .pin-map {
        display: flex;
        flex-direction: column;
    }

    .sidebar-right .pin-map {
        align-items: center;
        position: relative;
        left: 0.1rem; /* Adjusted value to move it to the left */
        top: -0.75rem;
    }

    .box {
        background-color: rgb(128, 189, 236);
        overflow: hidden;
        margin: 2rem;
        text-align: center;
        color: rgb(8, 43, 56);
        font-size: large;
        border-radius: 2rem;
        height: 220px;
        width: 100%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        grid-area: footer;
        background-color: rgb(21, 118, 170);
        color: white;
        padding: 30px;
        text-align: center;
        padding-top: 20px;
    }
}

@media (max-width: 800px) {
    body {
        grid-template-rows: auto auto auto auto;
    }

    header h1 {
        font-size: 1.2rem;
    }

    .box {
        height: auto;
        padding: 1rem;
    }

    .sidebar-right {
        margin: 1rem 0;
    }

    .pin-map {
        margin-top: 0.5rem;
    }

    .sidebar-right .pin-map {
        align-items: center;
        position: relative;
        left: 0.1rem; /* Adjusted value to move it to the left */
        top: -0.75rem;
    }

    .box {
        background-color: rgb(128, 189, 236);
        overflow: hidden;
        margin: 2rem;
        text-align: center;
        color: rgb(8, 43, 56);
        font-size: large;
        border-radius: 2rem;
        height: 220px;
        width: 100%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        grid-area: footer;
        background-color: rgb(21, 118, 170);
        color: white;
        padding: 30px;
        text-align: center;
        padding-top: 20px;
    }
}

@media (max-width: 600px) {
    header nav ul {
        top: 60px;
    }

    .checkBtn {
        top: 10px;
    }

    .box {
        margin: 1rem;
        padding: 1rem;
    }

    .pin-map {
        margin-top: 0.5rem;
        padding: 15px;
    }

    footer {
        padding-top: 100px;
    }

    footer p {
        padding: 5px;
    }

    .sidebar-right .pin-map {
        align-items: center;
        position: relative;
        left: 0.1rem; /* Adjusted value to move it to the left */
        top: -0.75rem;
    }

    .box {
        background-color: rgb(128, 189, 236);
        overflow: hidden;
        margin: 2rem;
        text-align: center;
        color: rgb(8, 43, 56);
        font-size: large;
        border-radius: 2rem;
        height: 220px;
        width: 100%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        grid-area: footer;
        background-color: rgb(21, 118, 170);
        color: white;
        padding: 30px;
        text-align: center;
        padding-top: 20px;
    }
}
